:root div {
    display: flex;
    --left-width: 40vw;
}
body {
  margin: 0;
  font-family: sans-serif;
}
#left-main {
 height: 100vh;
 width: var(--left-width);
  background-color: yellowgreen;
  justify-content: center;
  align-items: center;
}
#right-main{ 
   height: 100vh;
   width: 70vw;
  background-color: blue;
  justify-content: center;
  align-items: center; 
}
